.container {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin: 0 auto;
    text-align: left;
}

.container label {
    margin-bottom: 10px;
}

.button {
    margin-top: 20px;
}
