.navbar-nav .nav-item {
    margin-right: 20px;
  }
  
  .navbar-nav .nav-item:last-child {
    margin-right: 0;
  }
  
  .navbar-nav.ml-auto .nav-item {
    margin-right: 0;
  }
/* Custom styles to ensure navbar items are correctly aligned */
.navbar-nav {
    flex-direction: row;
}
.navbar-nav .nav-item {
    margin-right: 1rem;
}
.navbar-nav.ml-auto .nav-item {
    margin-right: 0;
}

.navbar-nav .dropdown-item img {
  margin-right: 8px;
}

.navbar-nav .dropdown-item {
  display: flex;
  align-items: center;
}

.navbar-nav .nav-link img {
  margin-right: 8px;
}

.blue{
  color: #1089FF;
  font-weight: bold;
}
