/* Custom styles to ensure navbar items are correctly aligned */
.navbar-nav {
    flex-direction: row;
}
.navbar-nav .nav-item {
    margin-right: 1rem;
}
.navbar-nav.ml-auto .nav-item {
    margin-right: 0;
}

